.Drinks {
  display: grid;
  justify-content: space-around;
  grid-gap: 33%;
  grid-template-columns: 100px 60px 100px;
  row-gap: 33%;
  align-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 10vh 50vw;
  align-items: center;
}

h1 {
  font-size: 5vh 5vw;
}

.DrinkImg {
  height: 20vh;
  width: 15vh;
}
