body {
  margin: 0;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #eee;
  align-items: center;
}
*/ nav a {
  display: flex;
  text-decoration: none;
}

.login-container {
  display: flex;
  align-items: center;
}

.NavL {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.container {
  display: flex;
  justify-content: space-between;
}
