body {
  margin: 0;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-around;
  background: #eee;
}

nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid black;
  width: 130px;
}

.login-container {
  display: flex;
  align-items: center;
}
