.cart-container {
  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
}
.cart-container img {
  width: 30px;
}

.cart-count {
  margin-left: -10px;
  background-color: black;
  color: white;
  padding-right: 4.5px;
  padding-left: 4.5px;
  border-radius: 10px;
}
